<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aisouji.manager.dao.AccounttypecertMapper" >
  <resultMap id="BaseResultMap" type="com.aisouji.bean.Accounttypecert" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accttype" property="accttype" jdbcType="CHAR" />
    <result column="certid" property="certid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accttype, certid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_account_type_cert
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_account_type_cert
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="delete_Account_CertID">
     delete from t_account_type_cert
    where certid = #{certid} and accttype=#{accttypeid}
  </delete>
  <insert id="insert" parameterType="com.aisouji.bean.Accounttypecert" >
    insert into t_account_type_cert (id, accttype, certid
      )
    values (#{id,jdbcType=INTEGER}, #{accttype,jdbcType=CHAR}, #{certid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aisouji.bean.Accounttypecert" >
    insert into t_account_type_cert
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accttype != null" >
        accttype,
      </if>
      <if test="certid != null" >
        certid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accttype != null" >
        #{accttype,jdbcType=CHAR},
      </if>
      <if test="certid != null" >
        #{certid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aisouji.bean.Accounttypecert" >
    update t_account_type_cert
    <set >
      <if test="accttype != null" >
        accttype = #{accttype,jdbcType=CHAR},
      </if>
      <if test="certid != null" >
        certid = #{certid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aisouji.bean.Accounttypecert" >
    update t_account_type_cert
    set accttype = #{accttype,jdbcType=CHAR},
      certid = #{certid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>