<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
    <package name="com.aisouji.bean"/>
  </typeAliases> <!--对应 resultType="User" -->
<!--    <typeAliases>
		<typeAlias type="User" alias="user" />
	</typeAliases> --><!-- 实体名与表名 -->
</configuration>