<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/theme.css">
  <style>
#footer {
    padding: 15px 0;
    background: #fff;
    border-top: 1px solid #ddd;
    text-align: center;
}
#topcontrol {
  color: #fff;
  z-index: 99;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #222;
  position: relative;
  right: 14px !important;
  bottom: 11px !important;
  border-radius: 3px !important;
}

#topcontrol:after {
  /*top: -2px;*/
  left: 8.5px;
  content: "\f106";
  position: absolute;
  text-align: center;
  font-family: FontAwesome;
}

#topcontrol:hover {
    color: #fff;
    background: #18ba9b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

  </style>
  </head>
  <script src="/jquery/jquery-2.1.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/member/memberUtils.js"></script><!-- 会员工具箱 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue根需求： -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script><!-- ajax请求： -->
  <body>
 <div class="navbar-wrapper" >
      <div class="container">
       <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="member_top">
           <script type="text/javascript" src="/script/member/member_top.js"></script>
        </nav>
      </div>
    </div>
<div class="container">
  <div class="row clearfix">
    <div class="col-sm-3 col-md-3 column" >
      <div class="row">
        <div class="col-md-12">
          <div class="thumbnail" style="    border-radius: 0px;">
            <img src="/img/services-box1.jpg" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
            <div class="caption" style="text-align:center;">
              <h3 id="memberLoginName">
                <script type="text/javascript">
                  initMemberName();
                </script>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group">
        <div class="list-group-item" style="cursor:pointer;" onclick="window.location.href='/member.htm'">
          资产总览<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
        </div>
        <div class="list-group-item active">
          我的众筹<span class="badge"><i class="glyphicon glyphicon-chevron-right"></i></span>
        </div>
      </div>
    </div>
            <div class="col-sm-9 col-md-9 column">
              <ul id="myTab" style="" class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">我的众筹</a></li>
                <li role="presentation"><a href="#profile">众筹资产</a></li>
              </ul>
<!--Vue数据区           --><div   class="tab-content" style="margin-top:10px;">
                  <div  role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                  
                        <ul id="myTab1" class="nav nav-tabs">
                          <li role="presentation" class="active"><a href="#support">我支持的</a></li>
                          <li role="presentation"><a href="#attension">我关注的</a></li>
                          <li role="presentation"><a href="#add">我发起的</a></li>
                            <li class=" pull-right">
                                 <button type="button" class="btn btn-warning" onclick="toStart()">发起众筹</button>
                            </li>
                        </ul>                  
                        <div id="myTab1" class="tab-content" style="margin-top:10px;" >
                            <div role="tabpanel" class="tab-pane fade active in" id="support" aria-labelledby="home-tab">
                                <div class="container-fluid">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                             <span class="label label-warning">全部</span> <span class="label" style="color:#000;">已支付</span> <span class="label " style="color:#000;">未支付</span> 
                                        </div>
                                        <div class="col-md-12 column" style="margin-top:10px;padding:0;">
                                            <table class="table table-bordered" style="text-align:center;">
                                              <thead>
                                                <tr style="background-color:#ddd;">
                                                  <td>项目信息</td>
                                                  <td width="90">支持日期</td>
                                                  <td width="120">支持金额（元）</td>
                                                  <td width="80">回报数量</td>
                                                  <td width="80">交易状态</td>
                                                  <td width="120">操作</td>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr v-for="support1 in membersupport">
                                                  <td style="vertical-align:middle;">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <h3>
                                                                {{support1.projectname}}
                                                            </h3>
                                                            <p>
                                                                                                                                                                                                订单编号:{{support1.ordernumber}}
                                                            </p>
                                                            <p>
                                                                <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i>
                                                                               已完成 {{GetPercent(getMoney(support1.totalMoney) , support1.money)}}</div>
                                                                <div style="float:right;"><i title="截至日期" class="glyphicon glyphicon-calendar"></i> 剩余{{support1.remainingDay}} </div>
                                                            </p>
                                                            <br>
                                                                <div class="progress" style="margin-bottom: 4px;">
                                                                  <div v-if="support1.projectstatus === '1'" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" v-bind:style="{width:  GetPercent(getMoney(support1.totalMoney) , support1.money)}">
                                                                    <span>众筹中</span>
                                                                  </div>
                                                                  <div v-else class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" :style="{width: GetPercent(getMoney(support1.totalMoney) , support1.money)}">
                                                                    <span >众筹成功</span>
                                                                  </div>
                                                                </div>
                                                          <div v-if="support1.projectstatus === '1'">
                                                            <span style="color: #0839a7;">众筹中</span>
                                                          </div>
                                                          <div v-else>
                                                            <span style="color: #014e01">众筹成功</span>
                                                          </div>
                                                        </div>
                                                    </div>
                                                  </td>
                                                  <td style="vertical-align:middle;">{{support1.creatdate}}</td>
                                                  <td style="vertical-align:middle;">{{support1.supportmoney}}.00<br>(运费：{{support1.freight}}.00 )</td>
                                                  <td style="vertical-align:middle;">{{support1.supporter}}</td>
                                                  <td v-if="support1.orderCompletion === 0" style="vertical-align:middle;">订单创建 </td>
                                                  <td v-else-if="support1.orderCompletion === 1" style="vertical-align:middle;">交易完成，不能退款</td>
                                                  <td v-else-if="support1.orderCompletion === 2" style="vertical-align:middle;">交易完成，能退款 </td>
                                                  <td v-else-if="support1.orderCompletion === 2" style="vertical-align:middle;">未付款交易超时关闭，或支付完成后全额退款  </td>
                                                  <td v-else style="vertical-align:middle;">交易创建，等待支付 </td>
                                                  <td style="vertical-align:middle;">
                                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                          <button type="button" class="btn btn-default" @click="cancelOrder(support1.projectname ,support1.projectid ,support1.supportmoney ,support1.supporter ,support1.ordernumber ,support1.serialnumber )">删除订单</button>
                                                          <button type="button" class="btn btn-default">交易详情</button>
                                                    </div>
                                                  </td>
                                                </tr>
                                                
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="attension" aria-labelledby="attension-tab">
                                <div class="container-fluid">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column" style="padding:0;">
                                            <table class="table table-bordered" style="text-align:center;">
                                              <thead>
                                                <tr style="background-color:#ddd;">
                                                  <td>项目信息</td>
                                                  <td width="120">支持人数</td>
                                                  <td width="120">关注人数</td>
                                                  <td width="120">操作</td>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td style="vertical-align:middle;">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <p>
                                                                BAVOSN便携折叠移动电源台灯
                                                            </p>
                                                            <p>
                                                                <i class="glyphicon glyphicon-jpy"></i> 已筹集 1000.0元
                                                            </p>
                                                            <p>
                                                                <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> 已完成 100% </div>
                                                                <div style="float:right;"><i class="glyphicon glyphicon-calendar"></i> 剩余2天 </div>
                                                            </p>
                                                            <br>
                                                                <div class="progress" style="margin-bottom: 4px;">
                                                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                                    <span >众筹中</span>
                                                                  </div><br>
                                                                </div>
                                                                <div ><span style="color: blue;">众筹中</span></div>
                                                        </div>
                                                    </div>
                                                  </td>
                                                  <td style="vertical-align:middle;">1</td>
                                                  <td style="vertical-align:middle;">1</td>
                                                  <td style="vertical-align:middle;">
                                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                          <button type="button" class="btn btn-default">取消关注</button>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade  " id="add" aria-labelledby="add-tab">
                                <div class="container-fluid">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                             <span class="label label-warning">全部</span> <span class="label" style="color:#000;">众筹中</span> <span class="label " style="color:#000;">众筹成功</span>  <span class="label " style="color:#000;">众筹失败</span>
                                        </div>
                                        <div class="col-md-12 column" style="padding:0;margin-top:10px;">
                                            <table class="table table-bordered" style="text-align:center;">
                                              <thead>
                                                <tr style="background-color:#ddd;">
                                                  <td>项目信息</td>
                                                  <td width="120">募集金额（元）</td>
                                                  <td width="80">当前状态</td>
                                                  <td width="120">操作</td>
                                                </tr>
                                              </thead>
                                              <tbody>
<!--       发起的项目                                        -->   <tr v-for="initiate in memberinitiate">
                                                  <td style="vertical-align:middle;">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <p>
                                                                {{initiate.projectname}}
                                                            </p>
                                                            <p>
                                                                <div style="float:left;"><i class="glyphicon glyphicon-screenshot" title="目标金额" ></i> 已完成 {{GetPercent(getMoney(initiate.totalMoney) , initiate.money)}} </div>
                                                                <div style="float:right;"><i title="截至日期" class="glyphicon glyphicon-calendar"></i> 剩余{{initiate.remainingDay}}</div>
                                                            </p>
                                                            <br>
                                                                <div class="progress" style="margin-bottom: 4px;">
                                                                  <div  class="progress-bar progress-bar-danger" v-if="initiate.status === '0'" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" :style="{width: GetPercent(getMoney(initiate.totalMoney) , initiate.money)}">
                                                                    <span>等待发布</span>
                                                                  </div>
                                                                  <div  class="progress-bar progress-bar-danger" v-else-if="initiate.status === '1'" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" :style="{width: GetPercent(getMoney(initiate.totalMoney) , initiate.money)}">
                                                                    <span>众筹中</span>
                                                                  </div>
                                                                  <div  class="progress-bar progress-bar-success" v-else role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" v-bind:style="{width: GetPercent(getMoney(initiate.totalMoney) , initiate.money)}">
                                                                    <span >众筹成功</span>
                                                                  </div>
                                                                </div>
                                                            <div  v-if="initiate.status === '0'" >
                                                                 <span style="color: #5671f7">等待发布</span>
                                                               </div>
                                                               <div  v-else-if="initiate.status === '1'" >
                                                                 <span style="color:#0839a7 ">众筹中</span>
                                                               </div>
                                                               <div v-else >
                                                                 <span style="color:#014e01">众筹成功</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  </td>
                                                  <td style="vertical-align:middle;">{{initiate.totalMoney}}.00<br>(运费：0.00 )</td>
                                                  
                                                  <td  style="vertical-align:middle;" v-if="initiate.status === 0">草稿</td>
                                                  <td  style="vertical-align:middle;" v-else>已发布</td>
                                                  
                                                  <td style="vertical-align:middle;">
                                                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                                          <button type="button" class="btn btn-default">项目预览</button>
                                                          <button type="button" class="btn btn-default">修改项目</button>
                                                          <button type="button" class="btn btn-default">删除项目</button>
                                                          <button type="button" class="btn btn-default">问题管理</button>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                  
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                  众筹资产
                  </div>
            </div>
    </div>
  </div>
</div>
        <div class="container" style="margin-top:20px;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div id="footer">
                        <div class="footerNav">
                             <a rel="nofollow" href="http://www.atguigu.com">关于我们</a> | <a rel="nofollow" href="http://www.atguigu.com">服务条款</a> | <a rel="nofollow" href="http://www.atguigu.com">免责声明</a> | <a rel="nofollow" href="http://www.atguigu.com">网站地图</a> | <a rel="nofollow" href="http://www.atguigu.com">联系我们</a>
                        </div>
                        <div class="copyRight">
                            Copyright ?2017-2017atguigu.com 版权所有
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
 <div id="supportFocusonInitiate"></div>
 <!-- 最后一个Vue的实例，主要是用于发起请求，
                                                                                                 获取数据，如果在上面有j动画的地方设置id，那么这些动画将不能使用 -->
    <script src="/jquery/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/script/docs.min.js"></script>
  <script src="/script/back-to-top.js"></script>
  <script type="text/javascript" src="/jquery/layer/layer.js"></script>
  <script>
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
$('#myTab1 a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

  function toStart() {
     $.post("/memberProject/initStart.do" , function(result) {
     if (result.flage) {
       window.location.href=result.url;
     }
   });
  }
  
var support = new Vue({
    el: '#support',
    data:{
      membersupport: '',
    },
    methods:{
    	getMoney: function (money) {
	      if (!money) {
	        return 0;
	      } else {
	          return money;
	      }
	    },//cancelOrder(support1.projectid ,support1.supportmoney ,support1.supporter)
	    cancelOrder: function(projectname ,projectid ,supportmoney ,supporter , ordernumber ,serialnumber) {
	    	layer.confirm("是否确定取消_"+projectname+"_订单",  {icon: 3, title:'提示'}, function(cindex){    
	            layer.close(cindex);//确认区域
	             $.post("/pay/fastpayRefund.do",//String orderNumber ,String serialnumber ,String totalmoney ,Integer projectid
	            		 {orderNumber :ordernumber ,serialnumber : serialnumber ,totalmoney: (supportmoney*supporter) ,projectid: projectid},
	                     function(result) {
	                       if (result.flage) {
	                         layer.msg("订单已经取消！",{time:1000, icon:6, shift:6});
	                         myTabContent.getMemberSupportFocusonInitiate();;//成功删除之后加载当前页的数据
	                       }else {
	                         layer.msg("订单已经取消失败！",{time:1000, icon:5, shift:6});
	                       }
	                     }
	              );
	            },function(cindex){//否定区域
	               layer.close(cindex);
	                //取消就返回
	        });
		  },
	    GetPercent: function (num, total) {
	        /// <summary>
	        /// 求百分比
	        /// </summary>
	        /// <param name="num">当前数</param>
	        /// <param name="total">总数</param>
	        num = parseFloat(num);
	        total = parseFloat(total);
	        if (isNaN(num) || isNaN(total)) {
	            return "-";
	        }
	        return total <= 0 ? "0%" : (Math.round(num / total * 10000) / 100.00)+"%";
	    }
    }
});
var add = new Vue({
    el: '#add',
    data:{
    	memberinitiate: '',
    },
    methods:{
      getMoney: function (money) {
        if (!money) {
          return 0;
        } else {
            return money;
        }
      },
      GetPercent: function (num, total) {
          /// <summary>
          /// 求百分比
          /// </summary>
          /// <param name="num">当前数</param>
          /// <param name="total">总数</param>
          num = parseFloat(num);
          total = parseFloat(total);
          if (isNaN(num) || isNaN(total)) {
              return "-";
          }
          return total <= 0 ? "0%" : (Math.round(num / total * 10000) / 100.00)+"%";
      }
    },
});
var attension = new Vue({
    el: '#attension',
    data:{
    	memberfocuson: '',
    },
});
  
  var myTabContent = new Vue({
    el: "#supportFocusonInitiate",
    data:{
    },
    methods: {
      getMemberSupportFocusonInitiate: function() {
        axios.get('/member/getMemberSupportFocusonInitiate.do' ,
         {
          params: {//参数对象
            
          }, 
          responseType: "json",//设置返回类型 stream-图片
         }
        ).then(function(response) {
          var data = response.data;
          attension.memberfocuson = data.memberfocuson;
          support.membersupport = data.membersupport;
          add.memberinitiate = data.memberinitiate;
        })//response包含了头信息，与地址信息，response.data是服务器返回的数据
        .catch(function (error) { // 请求失败处理
          alert('出错了')
          console.log(error);
        });
     },
    }
  });
  myTabContent.getMemberSupportFocusonInitiate();//获取会员所有的支持的项目、收藏、发布的项目
  
  </script>
  </body>
</html>